{% extends 'base.html' %}
{% block title %}-List{% endblock %}

{% block content %}
<!-- <a href="{% url 'bookmark_create' %}">추가</a><br> --!>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>싸이트 이름</th>
            <th>URL 주소</th>
            <th>수정</th>
            <th>삭제</th>
        </tr>
    </thead>
{% for object in object_list %}
    <tr>
        <td>{{object.id}}</td>
        <td><a href="{% url 'bookmark_detail' object.id %}">{{object.site_name}}</a></td>
        <td><a href="{{object.url}}" target="_blank">{{object.url}}</td>
        <td><a href="{% url 'bookmark_update' object.id %}">수정</a></td>
        <td><a href="{% url 'bookmark_delete' object.id %}">삭제</a></td>
    </tr>
{% endfor %}

</table>
{% endblock %}